
.newprod__card {
    background-color: #ffffff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.newprod__card-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.newprod__card-text {
    position: relative;
    width: 100%;
    height: 100%;
}