// Custom Bootstrap variable overrides go first
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px
);
$enable-rounded: true;


$default:       #fff700 !default;
$primary:       #2c2c2c !default; //// Текст на страницах/ и чекбоксы/ пагинация
$secondary:     #1b1b1b !default; /// Верхние кнопки и кнопки в формах
$success:       #28a745 !default;
$info:          #17a2b8 !default;
$warning:       #f8dc08 !default;
$danger:        #e42828 !default;
$light:         #f0f0f0 !default;
$white:         #fff !default;
$dark:          #202020 !default; ///header navigation

$theme-color: () !default;
$theme-color: map-merge((
  "default":      $default,
  "primary":      $primary,
  "secondary":    $secondary,
  "success":      $success,
  "info":         $info,
  "warning":      $warning,
  "danger":       $danger,
  "light":        $light,
  "white":        $white,
  "dark":         $dark,
), $theme-color);

/// Pagination
$pagination-padding-y:              .5rem !default;
$pagination-padding-x:              .75rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .5rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1.5rem !default;
$pagination-line-height:            1.25 !default;

$pagination-color:                  $dark !default;
$pagination-bg:                     $white !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           $warning !default;

$pagination-focus-box-shadow:       0 !default;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            $dark !default;
$pagination-hover-bg:               $warning !default;
$pagination-hover-border-color:     $warning !default;

$pagination-active-color:           $dark !default;
$pagination-active-bg:              $warning !default;
$pagination-active-border-color:    $warning !default;

$pagination-disabled-color:         $dark !default;
$pagination-disabled-bg:            $white !default;
$pagination-disabled-border-color:  $warning !default;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                760px !default;
// $dropdown-padding-x:                0 !default;
// $dropdown-padding-y:                .5rem !default;
// $dropdown-spacer:                   .125rem !default;
// $dropdown-font-size:                $font-size-base !default;
$dropdown-color:                    $light !default;
$dropdown-bg:                       #202020f0 !default;
$dropdown-border-color:             $warning !default;
// $dropdown-border-radius:            $border-radius !default;
// $dropdown-border-width:             $border-width !default;
// $dropdown-inner-border-radius:      subtract($dropdown-border-radius, $dropdown-border-width) !default;
// $dropdown-divider-bg:               $gray-200 !default;
// $dropdown-divider-margin-y:         $nav-divider-margin-y !default;
// $dropdown-box-shadow:               0 .5rem 1rem rgba($black, .175) !default;

$dropdown-link-color:               $light !default;
// $dropdown-link-hover-color:         darken($gray-900, 5%) !default;
// $dropdown-link-hover-bg:            $gray-200 !default;

// $dropdown-link-active-color:        $light !default;
// $dropdown-link-active-bg:           $component-active-bg !default;

// $dropdown-link-disabled-color:      $gray-500 !default;

// $dropdown-item-padding-y:           .25rem !default;
// $dropdown-item-padding-x:           1.5rem !default;

// $dropdown-header-color:             $gray-600 !default;
// $dropdown-header-padding:           $dropdown-padding-y $dropdown-item-padding-x !default;



// Cards

// $card-spacer-y:                     .75rem !default;
// $card-spacer-x:                     1.25rem !default;
// $card-border-width:                 $border-width !default;
// $card-border-radius:                $border-radius !default;
// $card-border-color:                 rgba($black, .125) !default;
// $card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
// $card-cap-bg:                       rgba($black, .03) !default;
// $card-cap-color:                    null !default;
// $card-height:                       null !default;
// $card-color:                        null !default;
$card-bg:                           #00000050 !default;

// $card-img-overlay-padding:          1.25rem !default;

// $card-group-margin:                 $grid-gutter-width / 2 !default;
// $card-deck-margin:                  $card-group-margin !default;

// $card-columns-count:                3 !default;
// $card-columns-gap:                  1.25rem !default;
// $card-columns-margin:               $card-spacer-y !default;


// Toasts

// scss-docs-start toast-variables
// $toast-max-width:                   350px !default;
// $toast-padding-x:                   .75rem !default;
// $toast-padding-y:                   .5rem !default;
// $toast-font-size:                   .875rem !default;
// $toast-color:                       null !default;
// $toast-background-color:            rgba($white, .85) !default;
// $toast-border-width:                1px !default;
// $toast-border-color:                rgba($black, .1) !default;
// $toast-border-radius:               $border-radius !default;
// $toast-box-shadow:                  $box-shadow !default;
// $toast-spacing:                     $container-padding-x !default;

// $toast-header-color:                $gray-600 !default;
// $toast-header-background-color:     rgba(#e4e4e4, .85) !default;
// $toast-header-border-color:         rgba($black, .05) !default;
// scss-docs-end toast-variables


// Carousel

// scss-docs-start carousel-variables
$carousel-control-color:             $dark !default;
// $carousel-control-width:             15% !default;
// $carousel-control-opacity:           .5 !default;
// $carousel-control-hover-opacity:     .9 !default;
// $carousel-control-transition:        opacity .15s ease !default;

// $carousel-indicator-width:           30px !default;
// $carousel-indicator-height:          3px !default;
// $carousel-indicator-hit-area-height: 10px !default;
// $carousel-indicator-spacer:          3px !default;
// $carousel-indicator-opacity:         .5 !default;
$carousel-indicator-active-bg:       $dark !default;
$carousel-indicator-active-opacity:  1 !default;
// $carousel-indicator-transition:      opacity .6s ease !default;

// $carousel-caption-width:             70% !default;
// $carousel-caption-color:             $white !default;
// $carousel-caption-padding-y:         0.25rem !default;
// $carousel-caption-spacer:            1.25rem !default;

// $carousel-control-icon-width:        2rem !default;

// $carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !default;
// $carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>") !default;

// $carousel-transition-duration:       .6s !default;
// $carousel-transition:                transform $carousel-transition-duration ease-in-out !default; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

// $carousel-dark-indicator-active-bg:  $black !default;
// $carousel-dark-caption-color:        $black !default;

// $carousel-dark-control-icon-filter:  invert(1) grayscale(100) !default;
// scss-docs-end carousel-variables


// Badges

// scss-docs-start badge-variables
// $badge-font-size:                   .75em !default;
// $badge-font-weight:                 $font-weight-bold !default;
// $badge-color:                       $white !default;
// $badge-padding-y:                   .35em !default;
// $badge-padding-x:                   .65em !default;
// $badge-border-radius:               $border-radius !default;
// scss-docs-end badge-variables



// Figures

$figure-caption-font-size:          90% !default;
$figure-caption-color:              null !default;


// Breadcrumbs

$breadcrumb-font-size:              16px !default;

$breadcrumb-padding-y:              .5rem !default;
$breadcrumb-padding-x:              .5rem !default;
$breadcrumb-item-padding:           .3rem !default;

$breadcrumb-margin-bottom:          .1rem !default;

$breadcrumb-bg:                     #ffffffea !default;
$breadcrumb-divider-color:          #000000 !default;
$breadcrumb-active-color:           #000000 !default;
$breadcrumb-divider:                quote("/") !default;

$breadcrumb-border-radius:          null !default;


$custom-checkbox-indicator-border-radius:       null !default;
$custom-checkbox-indicator-icon-checked:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='#{ #fff }' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/></svg>") !default;

$custom-checkbox-indicator-indeterminate-bg:           null !default;
$custom-checkbox-indicator-indeterminate-color:        null !default;
$custom-checkbox-indicator-icon-indeterminate:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'><path stroke='#{ #fff }' d='M0 2h4'/></svg>") !default;
$custom-checkbox-indicator-indeterminate-box-shadow:   null !default;
$custom-checkbox-indicator-indeterminate-border-color: null !default;


@import './main.scss';
@import './scss/blocks/preloader'; // Прелоадер
@import './scss/blocks/main.scss'; // Главный блок
@import './scss/blocks/svarog.scss'; // Блок редиуса
@import './scss/blocks/brandsection.scss'; // Секция брэндов
@import './scss/blocks/promo.scss'; // Блок Промо
@import './scss/blocks/neues.scss'; // Блок Новых товаров

// КОМПОНЕНТЫ
@import './scss/components/product.scss'; // Стили карточек товаров


// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// And define any of your custom or additional CSS/SCSS here,
// or via an @import